@charset "utf-8";

html, body {
    background-color: #f2f1ec;
}
.menu_bar {
	background-color: #555555 !important;
}
.content {
	font-family: Arial, Verdana, sans-serif; 
	font-size: 13px; 
}
.main_content {
	color: #555555;
}
.10px_padding {
	padding: 0px 10px !important;
}
.p_bottom30 {
	padding-bottom: 30px!important;
}
.p_right20 {
	padding-right: 20px!important;
}
.p_top20 {
	padding-top: 20px!important;
}
.white_text { 
	color: #FFFFFF;
}
.background {
	background-color: #f2f1ec;
}
.js div#preloader { 
	position: fixed; 
	left: 0; 
	top: 0; 
	z-index: 999; 
	width: 100%; 
	height: 100%; 
	overflow: visible; 
	background: #333 url('http://files.mimoymima.com/images/loading.gif') no-repeat center center; 
}
#triangle-topleft {
	width: 0;
	height: 0;
	border-top: 20px solid #555555;
	border-right: 20px solid transparent;
}
#triangle-middleleft {
    width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 30px 20px 0px;
	border-color: transparent #555555 transparent transparent;
}
.ii a, .ExternalClass a:link, .no_underline {
	text-decoration: none!important;
}
a:hover { 
    color: #D6D6D6;
}
ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {
	display: inline-block;
}
ul li:hover {
	background: #938484;
	color: #FFFFFF;
}
ul li:hover ul {
	display: block;
}
ul li ul {
  position: absolute;
  width: 145px;
  display: none;
}
ul li ul li {
  background: #555555;
  display: block;
}
ul li ul li a {
	display:block !important;
}
.menu {
    padding: 0px 10px;
}
.drop_down_menu {
    padding: 5px 10px;
}
div.resume:hover, div.card:hover, div.poster:hover, div.banner:hover, div.web:hover  {
    transform: rotate(10deg);
}
div.resume {
    width: 200px;
    height: 285px;
    background: url(https://raw.githubusercontent.com/jasyiu/portfolio/gh-pages/images/resume.png) no-repeat;
	-webkit-transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
    -o-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-ms-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
  }
div.card {
    width: 184px;
    height: 123px;
    background: url(https://raw.githubusercontent.com/jasyiu/portfolio/gh-pages/images/card.png) no-repeat;
    -webkit-transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
    -o-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-ms-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
  }
div.poster {
    width: 111px;
    height: 147px;
    background: url(https://raw.githubusercontent.com/jasyiu/portfolio/gh-pages/images/poster.png) no-repeat;
    -webkit-transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
    -o-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-ms-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
  }
div.banner {
    width: 300px;
    height: 92px;
    background: url(https://raw.githubusercontent.com/jasyiu/portfolio/gh-pages/images/banner.png) no-repeat;
    -webkit-transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
    -o-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-ms-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
  }
 div.web {
    width: 111px;
    height: 212px;
    background: url(https://raw.githubusercontent.com/jasyiu/portfolio/gh-pages/images/web.png) no-repeat;
    -webkit-transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
    -o-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-ms-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
  }
  
  #myImg, #myImg1, #myImg2, #myImg3, #myImg4, #myImg5, #myImg6 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover, #myImg1:hover, #myImg2:hover, #myImg3:hover, #myImg4:hover, #myImg5:hover, #myImg6:hover {
	opacity: 0.5;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
.modal-content {
        width: 100%;
}
.rsd, td.rsd img {
	width: 100%!important;
	height: auto!important;
}
.rsd47, td.rsd47 img {
	width: 47%!important;
	height: auto!important;
}
.p_none {
	padding: 0px!important;
}
	
}

